<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SATHACHBANGLAI1ConnectionString"
            connectionString="Data Source=PHUCCOI\PHUCCOI;Initial Catalog=SATHACHBANGLAI1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>