<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SatHachBangLaiXe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=PHUCCOI\PHUCCOI;Initial Catalog=SATHACHLAIXE;user=sa;pwd=123456" providerName="System.Data.SqlClient" />
    <add name="SatHachBangLaiXe.Properties.Settings.SATHACHBANGLAI1ConnectionString" connectionString="Data Source=PHUCCOI\PHUCCOI;Initial Catalog=SATHACHLAIXE;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="localhost_SATHACHLAIXE_Connection" connectionString="XpoProvider=MSSqlServer;data source=PHUCCOI\PHUCCOI;integrated security=SSPI;initial catalog=SATHACHLAIXE" />
    <add name="SATHACHLAIXEEntities" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHUCCOI\PHUCCOI;initial catalog=SATHACHLAIXE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SATHACHLAIXEEntities1" connectionString="metadata=res://*/ModelReport.csdl|res://*/ModelReport.ssdl|res://*/ModelReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHUCCOI\PHUCCOI;initial catalog=SATHACHLAIXE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SATHACHLAIXEEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHUCCOI\PHUCCOI;initial catalog=SATHACHLAIXE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SATHACHLAIXEEntities3" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHUCCOI\PHUCCOI;initial catalog=SATHACHLAIXE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <SatHachBangLaiXe.Properties.Settings>
      <setting name="TaiKhoan" serializeAs="String">
        <value />
      </setting>
      <setting name="MatKhau" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mahocvien" serializeAs="String">
        <value />
      </setting>
      <setting name="madethi" serializeAs="String">
        <value />
      </setting>
      <setting name="KDiaChi" serializeAs="String">
        <value />
      </setting>
      <setting name="KMaHV" serializeAs="String">
        <value />
      </setting>
      <setting name="KSoCMND" serializeAs="String">
        <value />
      </setting>
      <setting name="KKyThi" serializeAs="String">
        <value />
      </setting>
      <setting name="KHoHV" serializeAs="String">
        <value />
      </setting>
      <setting name="KTenHV" serializeAs="String">
        <value />
      </setting>
    </SatHachBangLaiXe.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>